<footer class="footer">
  <small>
    Mini Twitter Ruby On Rails web application
    by <a href="https://www.linkedin.com/pub/kateryna-hrebeniuk/6/176/356">Katherine Walker</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://rubyonrails.org/">News</a></li>
    </ul>
  </nav>
</footer>